!!!XHTML
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html", :charset => "UTF-8"}
    %title linda-base
    %link{:rel => :stylesheet, :href => "/style.css"}
    != yield_content :html_head
  %body
    %div#toolbar
      %p
        - unless @user
          %a{:href => "/auth"} auth
        - else
          %img{:src => @user.icon}
          %a{:href => "/logout"} logout

    %div#header
      != yield_content :header
    %div#content
      != yield
      %hr
      %div#footer
        != yield_content :footer
        Sinatra::RocketIO::Linda v#{Sinatra::RocketIO::Linda::VERSION}
        |
        - url = "https://github.com/shokai/linda-base"
        %a{:href => url}= url
    %script{:src => "/util.js"}
    != yield_content :html_foot
