- content_for :html_head do
  :javascript
    var space_name = "#{@space}";
    var tuple = #{@arr.to_json};

- content_for :html_foot do
  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
  %script{:src => linda_js}
  %script{:src => "/tuple.js"}

- content_for :header do
  %h1= "#{@space}/#{@arr}"

%div#main
  %input{:type => :button, :id => :btn_write, :value => "write tuple : #{@arr}"}
  %h2 watch
  %div#watch
