- content_for :html_head do
  :javascript
    var space_name = "#{@space}";
    var tuple = #{@arr.to_json};

- content_for :html_foot do
  %script{:src => "/jquery.min.js"}
  %script{:src => "/jquery.editable.min.js"}
  %script{:src => linda_js}
  %script{:src => "/tuple.js"}

- content_for :header do
  %h1
    %span#space= @space
    \/
    %span#tuple= @arr

%div#main
  %div#status disconnect
  %h2 write
  %div
    %input{:type => :button, :id => :btn_write, :value => "#{@arr}"}
    %p
      - query = "tuple=#{@arr.to_json}"
      \% curl -d '#{query}' #{app_root}/#{@space}.write
  %h2 watch
  %div#watch
